/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font: 14px Arial, Helvetica, sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #000;
}

a {
    text-decoration: none;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#header {
    position: relative;
    width: 100%;
    height: 80px;
    background: #1a1a1a;
    text-align: left;
}

#list {
    margin: 0 auto;
    width: 1000px;
    position: absolute;
}

.holder {
    margin: 0 auto;
    width: 1200px;
    position: relative;
}

.drop-button {
    color: #4d4d4d;
}

.fa {
    padding: 33px 48px;
    color: #fff;
}

.fa:hover {
    background: #3c3c3c;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    overflow: hidden;
}

#menu li {
    float: right;
    margin-left: 20px;
}

#menu li .border:after {
    content: "|";
    margin-left: 27px;
    color: #555555;
}

#menu li .number::before {
    content: url(images/naglowek/tele.png);
    margin-right: 10px;
}

#menu li .lupa::before {
    content: url(images/naglowek/lupa.png);
    margin-right: 10px;
}

#menu li .person::before {
    content: url(images/naglowek/pearson.png);
    margin-right: 10px;
}

#menu li a {
    display: block;
    color: #555555;
    font-size: 15px;
    padding: 0px 6px;
}

#menu li a:hover {
    background: #000000;
}

#menu li .number {
    color: #84b82a;
}

.fa-sistrix {
    width: 100%;
    color: #84b82a;
    padding: 30px;
}

.drop-button {
    display: block;
}

.drop-button + ul {
    display: none;
    position: absolute;
    z-index: 2;
    top: 80px;
    left: 0;
    width: 281px;
    background: #1a1a1a;
    color: #fff;
}

.drop-button + ul.active {
    display: block;
}

#hidden li {
    float: none;
    margin: 0;
    border-bottom: 1px solid #555555;
}

#content {
    margin: 0 auto;
    width: 1200px;
    padding-bottom: 188px;
}

.content-items {
    overflow: hidden;
}

.left-col {
    float: left;
    width: 800px;
    margin-bottom: 128px;
}

.right-col {
    float: right;
    width: 400px;
}

.content-items img {
    width: 75%;
}

.zyskaj {
    position: relative;
    background: url("images/zyskaj_wiecej.png") no-repeat;
    color: #fff;
    padding: 32px;
    padding-bottom: 35px;
}

.zyskaj h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}

.zyskaj h2 {
    font-size: 40px;
    margin-bottom: 159px;
}

.mouse_present {
    display: inline-block;
}

.mouse_present img {
    width: 29% !important;
    margin-left: 2% !important;
    padding: 0 10px;
}

#mouse {
    border: 2px solid #86acbb;
    padding: 4px 9px;
    border-radius: 200px;
}

#present {
    border: 2px solid #86acbb;
    padding: 7px;
    border-radius: 200px;
}

.zyskaj h3 {
    font-size: 50px;
    font-weight: 100;
}

.color {
    color: #675190
}

.zyskaj h1 {
    font-size: 30px;
    font-weight: 100;
}

#zyskaj_1 {
    color: #aa2755;
    font-weight: bold;
    font-size: 100px;
}

#zyskaj_zl {
    color: #aa2755;
    font-size: 30px;
    font-weight: bold;
}

.zyskaj h1, h3 {
    line-height: 48px;
}

.vod {
    position: relative;
    background: url("images/vod.png") no-repeat;
    color: #fff;
    padding: 30px;
    padding-bottom: 25px;
}

.vod h2,
h3,
h4 {
    text-transform: uppercase;
}

.vod h2 {
    font-size: 40px;
}

.vod h3 {
    font-size: 14px;
    margin-bottom: 264px;
    line-height: 122% !important;
}

.vod h4 {
    font-size: 25px;
    font-weight: normal;
    padding-bottom: 10px;
}

.vod h5 {
    color: #5c5c5c;
    line-height: 15px;
    margin-bottom: 5px;
}

.vod h6 {
    font-size: 14px;
    color: #84b82a;
    text-transform: uppercase;
}

#vod_14 {
    color: #2c8fbd;
    margin-left: 17px;
}

.vod .online-right img {
    width: 40%;
}

.vod .online-right {
    line-height: 22px;
}

.packets {
    position: relative;
    background: #675190;
    color: #fff;
    padding: 19px;
    padding-left: 30px;
    height: 82%;
}

.packets h2,
.packets h3 {
    text-transform: uppercase;
}

.packets h2 {
    font-size: 40px;
}

.packets h3 {
    font-size: 14px;
    margin-bottom: 17px;
    line-height: 19px !important;
}

.list-icons {
    margin-bottom: 20px;
    overflow: hidden;
}

.list-icons li {
    float: left;
    width: 25%;
    padding-left: 16px;
    text-align: center;
    text-transform: uppercase;
    background: url("images/packets/plus.png") no-repeat 0 55px;
}

.list-icons li:first-child {
    background: none;
    padding-left: 0;
}

.list-icons li p {
    display: inline-block;
    width: 135px;
    padding-top: 120px;
}

.list-icons li span {
    width: 90px;
    display: inline-block;
}

.list-icons .channels p {
    background: url("images/packets/obraz1.png") no-repeat 50% 0;
}

.list-icons .internet p {
    background: url("images/packets/obraz2.png") no-repeat 50% 0;
}

.list-icons .telephone p {
    background: url("images/packets/obraz3.png") no-repeat 50% 0;
}

.list-icons .mobile p {
    background: url("images/packets/obraz4.png") no-repeat 50% 0;
}

.button-holder {
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.button-holder .pack-button {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    width: 460px;
    display: inline-block;
    background: #4d3c6c;
    border: 2px solid #fff;
    padding: 10px 0;
    margin: 0 0 10px;
}

.online {
    position: relative;
    background: url("images/teraz\ _w_tv_online.png") no-repeat;
    color: #fff;
    padding: 30px;
}

.online-column {
    display: inline-block;
}

.online-left {
    width: 280px;
    text-align: left;
}

.online-right {
    width: 53px;
    text-align: center;
    line-height: 20px;
}

.online-right p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.online-right h5 {
    font-size: 11px;
    text-transform: uppercase;
    line-height: 15px;
    margin-bottom: 5px;
}

.online #ludzie {
    width: 40%;
}

.online h2, h3,
h4 {
    text-transform: uppercase;
}

.online h2 {
    font-size: 40px;
    line-height: 38px;
    margin-bottom: 230px;
}

.online h3 {
    font-size: 25px;
    text-transform: none;
    font-weight: normal;
    text-align: center;
    line-height: 41px !important;
}

.online h4 {
    font-size: 14px;
    color: #84b82a;
    text-align: center;
    margin-bottom: 25px;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 260px;
    background: #1a1a1a;
    color: #fff;
    line-height: 28px;
}

.column {
    padding: 10px 0;
    height: 172px;
    display: inline-block;
}

.left, .right, .middle {
    width: 33%;
}

.left {
    text-align: left;
}

.right, .middle {
    text-align: right;
}

.column h2 {
    color: #535353;
    font-size: 14px;
    text-transform: uppercase;
}

.column h3 {
    text-transform: uppercase;
    font-size: 14px;
    color: #84b82a;
    line-height: 41px !important;
}

.left h3 {
    color: #4d3c6c;
    margin-left: 78px;
}

.column h4 {
    text-transform: uppercase;
    font-size: 30px;
    color: #84b82a;
}

.left h4 {
    color: #4d3c6c;
    margin-bottom: 19px;
}

.right h6 {
    margin-bottom: 48px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: #4c4c4c;
}

.menu ul {
    list-style: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left;
    left: 4px;
}

.menu li .border {
    /* border-right: 1px solid #555555; */
}

.menu li .border:after {
    content: "|";
    margin-left: 27px;
}

.menu li a {
    display: block;
    color: #555555;
    padding: 3px 6px;
}

.facebook {
    position: absolute;
    top: 195px;
    right: 44%;
}

.twitter {
    position: absolute;
    top: 195px;
    right: 39%;
}

.youtube {
    position: absolute;
    top: 195px;
    right: 34%;
}

.middle p {
    padding-top: 12px;
    color: #535353;
    font-size: 12px;
    text-transform: uppercase;
}

.middle h5 {
    color: #84b82a;
    font-size: 20px;
}

.column h6 {
    font-size: 11px;
    color: #5c5c5c;
}

.left h4::before {
    content: url(images/stopka/tablet.png);
    margin-right: 10px;
}

.right h4::before {
    content: url(images/stopka/telefon.png) url(images/stopka/komorka.png);
    padding: 0 10px;
}

.middle h4::before {
    content: url(images/stopka/telefon.png);
    padding: 0 10px;
}