/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font: 14px Arial, Helvetica, sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #000;
}

a {
    text-decoration: none;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#header {
    position: relative;
    width: 100%;
    height: 50px;
    background: #1a1a1a;
    text-align: left;
}

#list {
    margin: 0 auto;
    width: 1000px;
    position: absolute;
}

.holder {
    margin: 0 auto;
    width: 1200px;
    position: relative;
}

.drop-button {
    color: #4d4d4d;
}

.fa {
    padding: 18px 48px;
}

.fa:hover {
    background: #3c3c3c;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu li {
    float: right;
    margin-left: 20px;
}

#menu li .border {
    /* border-right: 1px solid #555555; */
}

#menu li .border:after {
    content: "|";
    margin-left: 27px;
}

#menu li a {
    display: block;
    color: #555555;
    padding: 3px 6px;
}

#menu li a:hover {
    background: #000000;
}

.photos img:hover {
    -webkit-box-shadow: 0px -1px 16px 0px rgba(255, 255, 255, 0.66);
    -moz-box-shadow: 0px -1px 16px 0px rgba(255, 255, 255, 0.66);
    box-shadow: 0px -1px 16px 0px rgba(255, 255, 255, 0.66);
}

#menu li .number {
    color: #84b82a;
}

.fa-sistrix {
    width: 100%;
    color: #84b82a;
    padding: 30px;
}

.drop-button {
    display: block;
}

.drop-button + ul {
    display: none;
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 0;
    width: 281px;
    background: #1a1a1a;
    color: #fff;
}

.drop-button + ul.active {
    display: block;
}

#hidden li {
    float: none;
    margin: 0;
    border-bottom: 1px solid #555555;
}

#content {
    margin: 0 auto;
    width: 1200px;
    padding-top: 60px;
    padding-bottom: 188px;
}

.content-items {
    overflow: hidden;
}

.left-col {
    float: left;
    width: 800px;
}

.right-col {
    float: right;
    width: 400px;
}

.content-items img {
    width: 75%;
}

.packets {
    position: relative;
    background: #675190;
    color: #fff;
    padding: 30px;
}
.packets h2,
.packets h3 {
    text-transform: uppercase;
    letter-spacing: -1px;
}

.packets h2 {
    font-size: 40px;
}
.packets h3 {
    font-size: 14px;
    margin-bottom: 30px;
}

.list-icons {
    margin-bottom: 30px;
    overflow: hidden;
}

.list-icons li {
    float: left;
    width: 25%;
    padding-left: 16px;
    text-align: center;
    text-transform: uppercase;
    background: url("images/packets/plus.png") no-repeat 0 55px;
}
.list-icons li:first-child {
    background: none;
    padding-left: 0;
}
.list-icons li p {
    display: inline-block;
    width: 135px;
    padding-top: 120px;
}
.list-icons li span {
    width: 90px;
    display: inline-block;
}
.list-icons .channels p {
    background: url("images/packets/obraz1.png") no-repeat 50% 0;
}
.list-icons .internet p {
    background: url("images/packets/obraz2.png") no-repeat 50% 0;
}
.list-icons .telephone p {
    background: url("images/packets/obraz3.png") no-repeat 50% 0;
}
.list-icons .mobile p {
     background: url("images/packets/obraz4.png") no-repeat 50% 0;
}
.button-holder {
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.button-holder .pack-button {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    width: 460px;
    display: inline-block;
    background: #4d3c6c;
    border: 2px solid #fff;
    padding: 10px 0;
    margin: 0 0 10px;
}

.top-left {
    position: absolute;
    top: 14px;
    left: 14px;
    color: #fff;
    font-size: 26px;
}

.below-top-left {
    position: absolute;
    top: 41px;
    left: 14px;
    color: #fff;
    font-size: 9px;
}

.bottom {
    position: absolute;
    bottom: 14px;
    font-size: 13px;
    color: #fff;
    left: 37%;
    transform: translate(-50%, -50%);
}

.over-bottom {
    position: absolute;
    bottom: 26px;
    font-size: 15px;
    color: #fff;
    left: 37%;
    transform: translate(-50%, -50%);
    padding: 6px 59px;
    background: #4d3c6c;
    border: #fff 2px;
}

images {
    position: absolute;
    text-align: justify;
    left: 37%;
    transform: translate(-50%, -50%);
}

.images img {
    display: inline-block;
}

.images ul {
    text-align: center;
    display: inline-block;
    position: absolute;

}

.images p {
    color: #fff;
    font-size: 12px;
    margin-top: 3px;
}

.plus {
    width: 13% !important;
}

.vod {
    position: relative;
}

.online {
    position: relative;
}

.online .over-bottom {
    background: transparent;
}

.online .bottom {
    color: #84b82a;
}

.online .top-left:after {
    content: "|";
    margin-left: 7px;

}

.top-right {
    position: absolute;
    top: 18px;
    right: 119px;
    color: #fff;
    text-align: center;
    font-size: 8px;
}

.online .top-right:below-level {

}

.center-left {
    position: absolute;
    left: 20px;
    top: 58%;
    transform: translate(-50%, -50%);
}

.center-right {
    position: absolute;
    right: 89px;
    top: 58%;
    transform: translate(-50%, -50%);
}

.center {
    position: absolute;
    left: 40%;
    top: 57%;
    transform: translate(-50%, -50%);
}

.bottom-left {
    position: absolute;
    left: 14px;
    bottom: 14px;
    color: #84b82a;
    font-size: 9px;
}

.over-bottom-left {
    position: absolute;
    left: 14px;
    bottom: 28px;
    color: #fff;
    font-size: 16px;
}

.vod .over-bottom-left:after {
    content: "|";
    margin-left: 74px;
}

.bottom-right {
    position: absolute;
    bottom: 34px;
    right: 121px;
    color: #fff;
    text-align: center;
    font-size: 8px;
}

.img-below {
    position: absolute;
    right: 124px;
    bottom: 16px;
}

.img-top {
    position: absolute;
    right: 122px;
    top: 48px;
}

.zyskaj .over-bottom-left {
    position: absolute;
    left: 14px;
    bottom: 38px;
    color: #fff;
    font-size: 31px;
}

.zyskaj .bottom-left {
    position: absolute;
    left: 14px;
    bottom: 14px;
    color: #fff;
    font-size: 19px;
}

.over-over-bottom-left {
    position: absolute;
    left: 14px;
    bottom: 73px;
    color: #fff;
    font-size: 33px;
}

.bottom-left-after {
    position: absolute;
    left: 177px;
    bottom: 4px;
    color: #aa2755;
    font-size: 40px;
}

.img-center-left {
    position: absolute;
    width: 50%;
    left: 13px;
    top: 57%;
    transform: translate(-50%, -50%);
}

.right .top-sentence {
    position: absolute;
    top: 3px;
    right: 4px;
    color: #555555;
    font-size: 11px;
}

/*.right{*/
/*position: absolute;*/
/*text-align: right;*/
/*}*/
.zadzwon {
    position: absolute;
    font-size: 10px;
    right: 4px;
    top: 23px;
    color: #84b82a;
}

.phone-number {
    position: absolute;
    font-size: 21px;
    right: 4px;
    top: 33px;
    color: #84b82a;
}

.phone-number:before {
    content: url("images/stopka/telefon.png");
    width: 70%;
    margin-right: 10px;
}

.below-sentence {
    position: absolute;
    top: 72px;
    right: 4px;
    color: #555555;
    font-size: 11px;
}

.lower-phone {
    position: absolute;
    font-size: 17px;
    right: 4px;
    top: 86px;
    color: #84b82a;
}

.lowest-sentence {
    position: absolute;
    top: 110px;
    right: 4px;
    color: #555555;
    font-size: 8px;
}

.centrum .top-sentence {
    position: absolute;
    top: 9px;
    right: 37%;
    color: #555555;
    font-size: 11px;
    transform: translate(-50%, -50%);
}

.centrum .zadzwon {
    position: absolute;
    font-size: 10px;
    right: 45%;
    top: 23px;
    color: #84b82a;
}

.centrum .phone-number {
    position: absolute;
    font-size: 21px;
    right: 45%;
    top: 33px;
    color: #84b82a;
}

.centrum .phone-number:before {
    content: url("images/stopka/telefon.png") url("images/stopka/komorka.png");
    width: 70%;
    margin-right: 15px;
}

.centrum .lowest-sentence {
    position: absolute;
    top: 68px;
    right: 45%;
    color: #555555;
    font-size: 8px;
}

.lewa .top-sentence {
    position: absolute;
    top: 3px;
    left: 4px;
    color: #555555;
    font-size: 11px;
}

.lewa .zadzwon {
    position: absolute;
    font-size: 14px;
    left: 67px;
    top: 37px;
    color: #4d3c6c;
}

.lewa .phone-number {
    position: absolute;
    font-size: 21px;
    left: -9px;
    top: 33px;
    color: #4d3c6c;
}

.lewa .phone-number:before {
    content: url("images/stopka/tablet.png");
    width: 70%;
    margin-right: 10px;
}

.line {
    position: absolute;
    left: 4px;
    top: 107px;
}

.facebook {
    position: absolute;
    top: 123px;
    right: 55%;
}

.twitter {
    position: absolute;
    top: 123px;
    right: 50%;
}

.youtube {
    position: absolute;
    top: 123px;
    right: 45%;
}

.menu ul {
    list-style: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left;
    left: 4px;
}

.menu li .border {
    /* border-right: 1px solid #555555; */
}

.menu li .border:after {
    content: "|";
    margin-left: 27px;
}

.menu li a {
    display: block;
    color: #555555;
    padding: 3px 6px;
}
@keyframes slider {

    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;

    }

    50% {
        left: -200%;

    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;

    }

}

#slider {
    overflow: hidden;
}

#slider figure img {
    width: 20%;
    float: left;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 10s slider infinite;

}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 172px;
    background: #1a1a1a;
}



